<div class="slideshow-container">

	<div class="mySlides fade" ng-repeat="(k,v) in data">
		<img src="{{v.image}}">
		<div class="text">
			<a href="#/post/{{v.id}}">
				<span class="jp-text text-white">{{v.title}}</span>
				<br>
				<span class="text-dark date">{{v.date | date: "yyyy.MM.dd"}}</span>
			</a>
		</div>
	</div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div class="dot-div">
  <span class="dot" ng-if="data.length >= 1" onclick="currentSlide(1)"></span>
  <span class="dot" ng-if="data.length >= 2" onclick="currentSlide(2)"></span>
  <span class="dot" ng-if="data.length >= 3" onclick="currentSlide(3)"></span>
</div>

<script>
	setTimeout(function() {
		showSlides(slideIndex);
	}, 100);

	var slideIndex = 1;

	function plusSlides(n) {
	  showSlides(slideIndex += n);
	}

	function currentSlide(n) {
	  showSlides(slideIndex = n);
	}

	function showSlides(n) {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("dot");
	  if (n > slides.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
	      slides[i].style.display = "none";
	  }
	  for (i = 0; i < dots.length; i++) {
	      dots[i].className = dots[i].className.replace(" active", "");
	  }
	  slides[slideIndex-1].style.display = "block";
	  dots[slideIndex-1].className += " active";
	}
</script>